<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <context:component-scan base-package="org.example"/>

    <bean id="serviceA" class="org.example.service.ServiceA">
        <constructor-arg value="Injected via constructor (XML)"/>
    </bean>

    <bean id="serviceB" class="org.example.service.ServiceA">
        <property name = "message" value="injected via setter(XML)"/>
    </bean>
</beans>